@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  color-scheme: dark;
  --accentColorLight: var(--pColor);
  --accentColorDark: var(--pColor);
  --pColor: #fa6044;
}

/* Light theme */
html[data-theme="light"] {
  color-scheme: light;

  --backgroundColor: #f3f3f3;
  --accentColor: var(--accentColorDark);
}

/* Dark theme override */
html[data-theme="dark"] {
  color-scheme: dark;

  --backgroundColor: #272727;
  --accentColor: var(--accentColorLight);
}

body {
  background-color: var(--backgroundColor);
  overflow: hidden;
  pointer-events: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tagcloud {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  width: 50%;
  color: var(--accentColor);
}

@media screen and (max-width: 768px) {
  .tagcloud {
    font-size: 10px;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;

    --backgroundColor: #f3f3f3;
    --accentColor: var(--accentColorDark);
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;

    --backgroundColor: #202020;
    --accentColor: var(--accentColorLight);
  }
}
