html {
  max-width: 900px;
  margin: auto;
  color-scheme: dark;
}

body {
  font-size: 15px;
  color: white;
  background-color: #272727;
  font-family: "Noto Sans", sans-serif;
  user-select: none;
}

.footer {
  text-align: right;
  padding: 40px;
}

.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p, li {
  color: rgb(220, 220, 220);
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

a {
  color: #77cbf9;
}

.media-border {
  width: 825px;
  height: 459px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  body {
    color: black;
    background-color: #f9f9f9;
  }

  p, li {
    color: rgb(75, 75, 75);
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background-color: #272727;
    margin: 1rem 1.5rem;
  }

  .media-border {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }

  p, li {
    color: rgb(220, 220, 220);
  }
}
@media screen and (max-width: 900px) {
  html {
    max-width: 100vw;
  }

  .media-border {
    width: calc(90vw - 1.5rem);
    height: 50vw;
    margin: 0 auto;
  }
}
