body {
  font-family: "Inter";
  font-style: normal;
  font-size: 24px;
  background-color: #252526;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-shadow: 5px 5px 10px #111111;
  animation: fade-in 2s ease;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-shadow: 5px 5px 10px #111111;
  animation: fade-in 2s ease;
}

p {
  font-family: "Inter";
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  color: rgb(175, 175, 175);
}

.heading {
  margin-top: 250px;
  text-align: center;
}

.container {
  position: absolute;
  top: -250px;
  right: 0;
  transform: scale(1.09);
  z-index: -1;
  opacity: 0.8;
}

.wrapper {
  position: relative;
}

.appImg {
  max-width: 100%;
  height: auto;
  width: auto;
  animation: zoom-in 1.5s ease;
  margin-top: 0px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.75, 0.75);
  }
  100% {
    transform: scale(1, 1);
  }
}

/* features */
.post-container {
  margin: 100px 25% 0 25%;
  overflow: auto;
}

.post-thumb-left {
  margin-right: 25px;
  float: left;
}

.post-thumb-right {
  margin-left: 25px;
  float: right;
}

.post-thumb img {
  display: block;
}

.post-content {
  margin-left: 0px;
}

/* wallpaper ui */
li.library {
  font-family: "Inter";
  font-style: normal;
  font-size: 14px;
  margin: 5px;

  float: left;
  width: 180px;
}

li.library img:hover {
  /* transform: scale(1.1);
  transition: 0.5s;
  cursor: default; */
  border-radius: 5px;
  border: 2.5px solid #777;
}

li.library img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

div.desc {
  padding: 0px;
  text-align: left;
}

