body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif; /*Similar to Segoe UI*/
  font-style: normal;
  font-size: 24px;
  background: url(../assets/temp_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* threejs background */
.container {
  position: fixed;
  right: 0;
  transform: scale(1.09);
  z-index: -10;
  opacity: 0; /*set to 1 after scene init*/
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: white;
  animation: fade-in 2s ease;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: white;
  animation: fade-in 2s ease;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: white;
  animation: fade-in 2s ease;
}

h4 {
  font-size: 17px;
  color: white;
  animation: fade-in 2s ease;
}

p {
  font-size: 17px;
  color: rgb(175, 175, 175);
}

a {
  font-size: 14px;
  color: rgb(175, 175, 175);
}

label {
  font-size: 14px;
  color: rgb(175, 175, 175);
}

#page-home {
  min-height: 1600px;
}

#page-home h1 {
  text-shadow: 5px 5px 10px #111111;
}

#page-home h3 {
  text-shadow: 5px 5px 10px #111111;
}

/* https://stackoverflow.com/questions/35681829/transformscale-breaking-my-z-index-order */
#page-features {
  transform: translate3d(0, 0, 0);
  background-color: #5e42a6;
  padding: 100px 0px 100px 0px;
  min-height: 500px;
  text-align: center;
}

#page-gallery {
  transform: translate3d(0, 0, 0);
  transform: scale(1);
  background-color: #a425a0;
  padding: 100px 0px 100px 0px;
  min-height: 600px;
  text-align: center;
}

#page-download {
  transform: translate3d(0, 0, 0);
  transform: scale(1);
  background-color: #5e42a6;
  padding: 100px;
  min-height: 300px;
  text-align: center;
}

#footer {
  transform: translate3d(0, 0, 0);
  background-color: #493382;
  padding: 25px;
  min-height: 100px;
}

#footer p {
  font-size: 12px;
  color: rgb(150, 150, 150);
}

.heading {
  display: flex;
  justify-content: center;
  text-align: center;
  user-select: none;
}

/* app ui */
.ui-app {
  animation: zoom-in 1.5s ease;
  position: fixed;
  width: 798px;
  height: 709px;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-left: -399px; /* Negative half of width. */
  user-select: none;
}

#ui-app-library {
  position: absolute;
  z-index: 1;
}

#ui-app-customise {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
}

#ui-app-customise-controls {
  position: absolute;
  left: 300px;
  top: 125px;
}

.ui-app-img {
  filter: drop-shadow(5px 0px 10px rgba(0, 0, 0, 0.5));
}

.ui-app-dialog-img {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.wallpapers {
  list-style-type: none;
  animation: zoom-in 1.5s ease;
  position: absolute;
  top: 100px;
  left: 0;
}

li.library {
  font-size: 14px;
  margin: 5px;
  float: left;
  width: 180px;
}

li.library img:hover {
  transform: scale(1.05);
  transition: 0.5s;
  filter: brightness(1.2);
  cursor: pointer;
}

li.library img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: 0.5s ease;
}

li.library div {
  position: relative;
  color: white;
  padding: 0px;
  text-align: left;
  margin: -25px 0 0 5px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* features */
.cards {
  list-style-type: none;
  animation: zoom-in 1.5s ease;
  display: inline-block;
  text-align: left;
}

li.card {
  font-size: 14px;
  margin: 10px;
  float: left;
  width: 368px;
  height: 207px;
  border-radius: 10px;
  background-color: #a425a0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  transition: 0.5s ease;
}

li.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
  filter: brightness(1.1);
}

li.card img {
  position: relative;
  width: 25%;
  padding: 10px;
  margin: 0% 35% 0% 35%;
}

li.card div {
  position: relative;
  color: white;
  padding: 0px;
  text-align: left;
  text-align: center;
}

li.card p {
  text-align: center;
  font-size: 14px;
  padding: 0px 5px;
}

.white-filter {
  filter: invert(100%) sepia(31%) saturate(0%) hue-rotate(148deg) brightness(110%) contrast(101%);
}

.logo {
  /* -webkit-animation: spin 14s linear infinite;
  -moz-animation: spin 14s linear infinite;
  animation: spin 14s linear infinite; */
  filter: drop-shadow(10px 5px 7.5px rgba(0, 0, 0, 0.5));
  animation: zoom-in 2s ease;
}

.download-button {
  margin-top: 10px;
  background-color: black;
  border-radius: 10px;
  width: 290px;
  height: 105px;
  font-size: 50px;
  transition: 0.25s;
}

.download-button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: 0.25s;
}

.download-button a {
  text-decoration: none;
}

.download-button h1 {
  display: inline-block;
  font-size: 38px !important;
  vertical-align: top;
  margin-left: 5px;
}

.download-button img {
  width: 65px;
  margin-top: 10px;
  margin-left: -30px;
  vertical-align: top;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.75, 0.75);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 768px) {
  .ui-app {
    display: none !important;
  }
  #page-home {
    min-height: 800px;
  }
}
